<div class="my-6">
    <button class="px-4 py-2" (click)="changeTab('roles')"
        [ngClass]="currentComponent == 'roles'? 'bg-indigo-600 text-white':'bg-indigo-100 text-indigo-700'">Master</button>
    <button class="bg-indigo-600 text-white px-4 py-2"
        (click)="changeTab('designation')"
        [ngClass]="currentComponent == 'designation'? 'bg-indigo-600 text-white':'bg-indigo-100 text-indigo-700'">Destignation</button>
</div>
<div *ngIf="currentComponent == 'roles'">
    <app-roles />
</div>
<div *ngIf="currentComponent == 'designation'">
    <app-designation />
</div>